.book{
  display: flex;
  margin-left: 40%;
  gap: 50px;
}
body{
    background-color: lightskyblue;
    margin: 5%;
}
a{
    text-decoration: none;
    color: black;
}
h2{
    text-align: center;
}
.image{
    text-align: center;
    margin-top: 5%;
}
.moh{
    overflow: hidden;

}
@media screen and (min-width:280px) and (max-width:500px){
    .book{
        display: flex;
        flex-direction: column;
    }
}
